/* PLAYLIST */

.playlist-container {
    height: 68vh;
    padding-top: 16px;
    background-color: #121212;
    margin: 10px;
    border-radius: 10px;
}

.playlist {
    margin: 24px;
}

.playlist #greeting {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}

.playlist .session {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}
